<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Below you will enter your OAuth credentials and urls needed by your application to access to the Scoop.it Public API. -->
    <add key="CONSUMER_KEY" value="asp_web_de|xupv04YE9UTERR5X_wdQuPK1YUhHeSIGCs4WYDTc004"/>
    <add key="CONSUMER_SECRET" value="GZzBQBOilTRxae4UExHGqmypGNzCXzgeXnQRtEM52JaYadHLvO"/>
    <!--  Below you will enter your topic Id and the number of posts that you want on each page -->
    <add key="TOPIC_Name" value="1"/>
    <add key="CuratedCount" value="10"/>
    <add key="CALLBACK" value="/Scoopit/CallbackFromScoopIt"/>
    <!-- Default 30 -->


  </appSettings>
</configuration>