<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Below you will enter your OAuth credentials and urls needed by your application to access to the Scoop.it Public API. -->
    <add key="CONSUMER_KEY" value="Your consumer key"/>
    <add key="CONSUMER_SECRET" value="Your consumer secret"/>
    <!--  Below you will enter your topic Id and the number of posts that you want on each page -->
    <add key="TOPIC_Name" value="1"/>
    <add key="NumberPostPerPage" value="10"/>
    <add key="CALLBACK" value="/Scoopit/CallbackFromScoopIt"/>
    <!-- Default 30 -->


  </appSettings>
</configuration>